.qsub__link {
    width: 16px;
    height: 16px;
}

.qsub__subscribed {
    background: transparent url(images/mail-yes.png);
}

.qsub__notsubscribed {
    background: transparent url(images/mail-no.png);
}


#plugin_qsub__popup p {
    font-size: 14px;
    padding: 0.5em 0.3em;
}

#plugin_qsub__popup .more {
    border-top: 1px solid __border__;
}

#plugin_qsub__popup button {
    display: block;
    margin: 0.5em auto;
}